+{% extends 'master/master.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Personality Test</h1>
		<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
			<i class="fas fa-download fa-sm text-white-50"></i> Download</a>
	</div>

	{%for data in avg %}
	<hr>
	<label style="float: left;padding-right: 10px;width: 147px;color:black;"><strong>Openness </strong></label>
	<div class="progress" style="height: 30px;">
		<div class="progress-bar bg-danger " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
			style="width: {{data.type_o}}%">
			<h4>{{data.type_o}}% </h4>
		</div>
	</div><br>
	<!-- progress-bar progress-bar-striped bg-primary progress-bar-animated -->
	<label style="float: left;padding-right: 10px;width: 147px;color:black;"><strong>Conscientiousness </strong></label>
	<div class="progress" style="height: 30px;">
		<div class="progress-bar  bg-primary " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
			style="width: {{data.type_c}}%">
			<h4>{{data.type_c}}% </h4>
		</div>
	</div><br>
	<label style="float: left;padding-right: 10px;width: 147px;color:black;"><strong>Extroversion </strong></label>
	<div class="progress" style="height: 30px;">
		<div class="progress-bar  bg-success  " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
			style="width: {{data.type_e}}%">
			<h4>{{data.type_e}}% </h4>
		</div>
	</div><br>
	<label style="float: left;padding-right: 10px;width: 147px;color:black;"><strong>Agreeableness </strong></label>
	<div class="progress" style="height: 30px;">
		<div class="progress-bar  bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
			style="width: {{data.type_a}}%">
			<h4>{{data.type_a}}% </h4>
		</div>
	</div><br>
	<label style="float: left;padding-right: 10px;width: 147px;color:black;"><strong>Neuroticism </strong></label>
	<div class="progress" style="height: 30px;">
		<div class="progress-bar  bg-info " role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
			style="width: {{data.type_n}}%">
			<h4>{{data.type_n}}% </h4>
		</div>
	</div><br>
</div>
<hr>
<div class="container">
	<h3 style="color:black;"><strong>Your Predicted Personality</strong> </h3>

	{% comment %} and data.type_c >= 50 and data.type_e >= 50 and data.type_a >= 50 and data.type_n >= 50 {% endcomment %}
	{%if data.type_o >= 50 %}
	<p style="color:black;">You are more open to new experience and have a love of learning,
		creativity ,arts and loves to interact with new people.</p>
	{%else%}
	<p style="color:black;">
		You tend to stick in daily routine rather than variety and be surrounded with the things
		,people you know well and prefers less creativity task and entertainment.</p>
	{%endif%}

	{%if data.type_c >= 50 %}
	<p style="color:black;">You are likely to be more
		successful in your career ,have
		leadership skills and you are
		determined to purse your
		goals.</p>
	{%else%}
	<p style="color:black;">
		You are quite impulsive and
		tends to procrastinate.</p>
	{%endif%}

	{%if data.type_e >= 50 %}
	<p style="color:black;">You seems to be comfortable
		around new people and
		interact with them .You are
		often "life of the party" .</p>
	{%else%}
	<p style="color:black;">
		You seems to be quiet,reserved and thoughtful..</p>
	{%endif%}
	{%if data.type_a >= 50 %}
	<p style="color:black;">You tend to be well-liked,
		respected, and sensitive to the
		needs of others, have few
		enemies and are affectionate
		to your friends and loved ones,
		as well as sympathetic to the
		plights of strangers.</p>
	{%else%}
	<p style="color:black;">
		You are less likely to be
	trusted as you may seems to
	be sarcastic and impolite.</p>
	{%endif%}
	{%if data.type_n >= 50 %}
	<p style="color:black;">You are generally prone to
		anxiety, sadness, worry, and
		low self-esteem. You may be
		temperamental or easily
		angered, and seems to be self-
		conscious and unsure of
		themselves.</p>
	{%else%}
	<p style="color:black;">
		You are confident ,brave,
		sure of yourself and
		adventurous.</p>
	{%endif%}
</div>
{%endfor%}
</div>


</div>
</div>
{% endblock content %}