{% extends 'master/master.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Personality Test</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Download</a>
    </div>
    {%for data in avg %}
        <hr>
        <label style="float: left;padding-right: 10px;width: 147px;"><strong>Openness </strong></label>
		<div class="progress" style="height: 30px;">
	 		 <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{data.type_o}}%"><h4>{{data.type_o}}% </h4></div>
		</div><br>
   
    <label style="float: left;padding-right: 10px;width: 147px;"><strong>Conscientiousness  </strong></label>
		<div class="progress" style="height: 30px;">
	 		 <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{data.type_c}}%"><h4>{{data.type_c}}% </h4></div>
		</div><br>
          <label style="float: left;padding-right: 10px;width: 147px;"><strong>Extroversion  </strong></label>
		<div class="progress" style="height: 30px;">
	 		 <div class="progress-bar progress-bar-striped bg-success  progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{data.type_e}}%"><h4>{{data.type_e}}% </h4></div>
		</div><br>
          <label style="float: left;padding-right: 10px;width: 147px;"><strong>Agreeableness  </strong></label>
		<div class="progress" style="height: 30px;">
	 		 <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{data.type_a}}%"><h4>{{data.type_a}}% </h4></div>
		</div><br>
          <label style="float: left;padding-right: 10px;width: 147px;"><strong>Neuroticism </strong></label>
		<div class="progress" style="height: 30px;">
	 		 <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{data.type_n}}%"><h4>{{data.type_n}}% </h4></div>
		</div><br>
        	</div>
        {%endfor%}
    </div>
	</div>
{% endblock content %}





