{% extends 'master/master.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
                <h2 style="color:#003366;">Predict your Personality</h2><hr>
                <div class ="uploadfrom">
                <form method="post" enctype="multipart/form-data" style="color:#003366; font-weight:800; margin-top:30px;">
                    {% csrf_token %}
                    {{form}}
                    <input sty class="btn btn-success " type="submit">
                </form>
    </div>
</div>


{% endblock %}