<!DOCTYPE html>
 {% load static %}
<html>
<head>
	<title>{{personalinfodata.firstname | upper}} resume</title>
	<!-- Template 2 -->
	<link rel="stylesheet" type="text/css" href="style.css">
<style>

.image-size{
  object-fit: cover;
  object-position: -20% 0;
  width: 300px;
  height: 337px;
}
</style>
</head>
<body bgcolor="#D5D8DC">
	<table width="700px" height="800px" align="center">
		<tr>
			<td width="200px" bgcolor="1c2833" style="color:white; padding: 20px">
			{%if personalinfodata.image%}
				<img class="image-size" src="{{personalinfodata.image.url}}" style="border-radius:50%;  width:160px; height:150px"; >
				
				{%endif%}
				<h1>Personal details</h1> <hr>

				<p><b>Name:</b></br>
					{{personalinfodata.firstname | upper}} {{personalinfodata.lastname | upper}}<br><br>
					<b>Address:</b> <br>
					{{personalinfodata.state}} <br>{{personalinfodata.country}} <br><br>

					<b>Phone number:</b><br>
					{{personalinfodata.phone}}<br><br>

					<b>Email Address:</b> <br>
					{{personalinfodata.email}} <br> <br>

				<b>Github:</b> <br>
				alizakhadkagithub.com<br><br>

				<b>linkedin:</b><br>
				linkedin.com/in/aliza.khadka<br><br>

				<b>twitter:</b><br>
				aliza-khadka
				</p>
				<div class= "line-height: normal;">
				<b>Language:</b>
					{% for languages in languagedata %}
						<li>{{languages.language}}</li>
					{% endfor %}
				</div>
				
			</td>
			<td width="500px" bgcolor="#FDFEFE" style="padding:20px">
			<h1>{{personalinfodata.firstname | upper}} {{personalinfodata.lastname | upper}}</h1><hr>
			<p>{{personaldesc.about}} </p>
				<h2>Work experience</h2><hr>
				{% for experience in experienceinfodata %}
					<h3>{{experience.title}}</h3>
					<h5>{{experience.company}} [{{experience.startingDate}} - {{experience.endingDate}}]</h5>
					<p>{{experience.experienceInfo}}</p>
				{% endfor %}
				<h2>Skills</h2><hr>
				{% for skills in skilldata %}
					<p>{{skills.skill}}</p>
				{% endfor %}
				<h2>Education</h2><hr>
				<!-- <h3>Bachelor</h3> -->
				{% for education in educationalinfodata %}
				<p><b>{{education.institution}}</b></p>
				<p><b>{{education.program}} [{{education.edate1}} - {{education.edate2}}]</b></p>
				{% endfor %}

			
			<h2>Certifications</h2><hr>
			<p>Django framework (IT training Nepal)</p>


			<h2>{{othersinfo.title}}</h2><hr>
			<p>{{othersinfo.introduction}}</p>
			</td>
		</tr>
	</table>
	
</body>
</html>
