<!DOCTYPE html>
<html>

<head>
    <title>Resume</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        #header {
            display: grid;
            grid-template-columns: 2fr 5fr;
            background: black;
            color: white;
        }

        #ui {
            display: grid;
            grid-template-columns: 0.2fr 0.5fr;
        }

        .skills {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        #ent {
            margin-top: 0px;
        }

        #space {
            margin-left: 30px;

        }

        #progress-bar {
            background: #CDCDCF;
            height: 10px;
            margin-top: 5px;
            width: 100px;
        }

        #progress {
            background: black;
            height: 10px;
            width: 80px;
        }

        .topM {
            margin-top: 20px;
            margin-bottom: 10px;

        }

        #contacts {
            background: #CDCDCF;
            padding: 10px;
        }

        #skills {
            background: #CDCDCF;
            padding: 10px;
        }

        #exp1 {
            margin-right: 20px;
            display: grid;
            grid-template-columns: 1fr 2fr 4fr;
        }

        p {
            text-align: justify;
        }

        #head {
            font-weight: bold;
        }

        svg {
            height: 1em;
            margin-left: 40px;
        }

        #left-mrgm {
            margin-left: 40px;
            font-weight: bold;
        }

        .box {
            height: 20px;
            width: 20px;
            background: black;
        }

        #image {
            height: 150px;
            width: 150px;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 20px;
        }

        #name {
            letter-spacing: 0.5em;
            font-weight: bold;
            margin-top: 20px;
        }

        #web {
            letter-spacing: 0.2em;
            margin-top: 30px;
        }

        #underline {
            width: 440px;
            height: 7px;
            margin-top: 20px;
            background: #CECED0;
        }

        #exp {
            background: #CDCDCF;
            padding: 10px;
        }

        #wrapper {
            padding: 0px;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="col-md-offset-2 col-md-8" style="background: #E4E5E9" id="wrapper">
        <div id="header">
            <div>
                <img src="achyut.jpg" id="image">
            </div>
            <div>
                <h2 id="name">Achyut neupane</h2>
                <p id="underline"></p>
                <h5 id="web">Android and Web developer</h5>
            </div>
        </div><!--  end header -->
        <div class="row">
            <div class="col-md-12">
                <h4 id="exp">EXPERIENCE</h4>
                <div id="experience">
                    <div id="exp1">
                        <div>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536"
                                style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve">
                                <path
                                    d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z" />
                        </div>
                        <div>
                            <span id="head">Senior Graphic Designer</span>
                            <p>2012-2015</p>
                        </div>
                        <div>
                            <h4 id="ent">Enterprise</h4>
                            <p>Experience is the knowledge or mastery of an event or subject gained through involvement
                                in or exposure to it. Terms in philosophy such as "empirical knowledge" or "a posteriori
                                knowledge" are used to refer to knowledge based on experience.</p>
                        </div>
                    </div> <!-- end section 1 -->
                    <div id="exp1">
                        <div>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536"
                                style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve">
                                <path
                                    d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z" />
                        </div>
                        <div>
                            <span id="head">Senior Graphic Designer</span>
                            <p>2012-2015</p>
                        </div>
                        <div>
                            <h4 id="ent">Enterprise</h4>
                            <p>Experience is the knowledge or mastery of an event or subject gained through involvement
                                in or exposure to it. Terms in philosophy such as "empirical knowledge" or "a posteriori
                                knowledge" are used to refer to knowledge based on experience.</p>
                        </div>
                    </div> <!-- end section 1 -->
                    <div id="exp1">
                        <div>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536"
                                style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve">
                                <path
                                    d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z" />
                        </div>
                        <div>
                            <span id="head">Senior Graphic Designer</span>
                            <p>2012-2015</p>
                        </div>
                        <div>
                            <h4 id="ent">Enterprise</h4>
                            <p>Experience is the knowledge or mastery of an event or subject gained through involvement
                                in or exposure to it. Terms in philosophy such as "empirical knowledge" or "a posteriori
                                knowledge" are used to refer to knowledge based on experience.</p>
                        </div>
                    </div> <!-- end section 1 -->
                </div>
            </div>
        </div> <!-- end row 1 -->
        <div class="row">
            <div class="col-md-12">
                <h4 id="exp">EDUCATION</h4>
                <div id="experience">
                    <div id="exp1">
                        <div>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536"
                                style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve">
                                <path
                                    d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z" />
                        </div>
                        <div>
                            <span id="head">Senior Graphic Designer</span>
                            <p>2012-2015</p>
                        </div>
                        <div>
                            <h4 id="ent">Enterprise</h4>
                            <p>Experience is the knowledge or mastery of an event or subject gained through involvement
                                in or exposure to it. Terms in philosophy such as "empirical knowledge" or "a posteriori
                                knowledge" are used to refer to knowledge based on experience.</p>
                        </div>
                    </div> <!-- end section 1 -->
                    <div id="exp1">
                        <div>
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 438.536 438.536"
                                style="enable-background:new 0 0 438.536 438.536;" xml:space="preserve">
                                <path
                                    d="M433.113,5.424C429.496,1.807,425.215,0,420.267,0H18.276C13.324,0,9.041,1.807,5.425,5.424
       C1.808,9.04,0.001,13.322,0.001,18.271v401.991c0,4.948,1.807,9.233,5.424,12.847c3.619,3.614,7.902,5.428,12.851,5.428h401.991
       c4.948,0,9.229-1.813,12.847-5.428c3.614-3.613,5.421-7.898,5.421-12.847V18.271C438.534,13.319,436.73,9.04,433.113,5.424z" />
                        </div>
                        <div>
                            <span id="head">Senior Graphic Designer</span>
                            <p>2012-2015</p>
                        </div>
                        <div>
                            <h4 id="ent">Enterprise</h4>
                            <p>Experience is the knowledge or mastery of an event or subject gained through involvement
                                in or exposure to it. Terms in philosophy such as "empirical knowledge" or "a posteriori
                                knowledge" are used to refer to knowledge based on experience.</p>
                        </div>
                    </div> <!-- end section 1 -->
                </div>
            </div>
        </div> <!-- end row 1 -->
        <div class="row">
            <div class="col-md-5">
                <h4 id="contacts">CONTACTS</h4>
                <div class="topM">
                    <svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 348.077 348.077">
                        <path d="M340.273,275.083l-53.755-53.761c-10.707-10.664-28.438-10.34-39.518,0.744l-27.082,27.076
      c-1.711-0.943-3.482-1.928-5.344-2.973c-17.102-9.476-40.509-22.464-65.14-47.113c-24.704-24.701-37.704-48.144-47.209-65.257
      c-1.003-1.813-1.964-3.561-2.913-5.221l18.176-18.149l8.936-8.947c11.097-11.1,11.403-28.826,0.721-39.521L73.39,8.194
      C62.708-2.486,44.969-2.162,33.872,8.938l-15.15,15.237l0.414,0.411c-5.08,6.482-9.325,13.958-12.484,22.02
      C3.74,54.28,1.927,61.603,1.098,68.941C-6,127.785,20.89,181.564,93.866,254.541c100.875,100.868,182.167,93.248,185.674,92.876
      c7.638-0.913,14.958-2.738,22.397-5.627c7.992-3.122,15.463-7.361,21.941-12.43l0.331,0.294l15.348-15.029
      C350.631,303.527,350.95,285.795,340.273,275.083z" />
                        <span id="space"><a href="#">0333-4543212</a></span>
                </div>
                <div class="topM">
                    <svg version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 310 310">
                        <path id="XMLID_823_" d="  M297.917,64.645c-11.19-13.302-31.85-18.728-71.306-18.728H83.386c-40.359,0-61.369,5.776-72.517,19.938
     C0,79.663,0,100.008,0,128.166v53.669c0,54.551,12.896,82.248,83.386,82.248h143.226c34.216,0,53.176-4.788,65.442-16.527
     C304.633,235.518,310,215.863,310,181.835v-53.669C310,98.471,309.159,78.006,297.917,64.645z M199.021,162.41l-65.038,33.991
     c-1.454,0.76-3.044,1.137-4.632,1.137c-1.798,0-3.592-0.484-5.181-1.446c-2.992-1.813-4.819-5.056-4.819-8.554v-67.764
     c0-3.492,1.822-6.732,4.808-8.546c2.987-1.814,6.702-1.938,9.801-0.328l65.038,33.772c3.309,1.718,5.387,5.134,5.392,8.861
     C204.394,157.263,202.325,160.684,199.021,162.41z" />
                        <span id="space"><a
                                href="https://www.youtube.com/channel/UC8UsfNYmbKiRJvI9ZhhApEw?view_as=subscriber">Youtube
                                Link</a></span>
                </div>
                <div class="topM">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 550.795 550.795"
                        xml:space="preserve">
                        <path d="M501.613,491.782c12.381,0,23.109-4.088,32.229-12.16L377.793,323.567c-3.744,2.681-7.373,5.288-10.801,7.767
      c-11.678,8.604-21.156,15.318-28.434,20.129c-7.277,4.822-16.959,9.737-29.045,14.755c-12.094,5.024-23.361,7.528-33.813,7.528
      h-0.306h-0.306c-10.453,0-21.72-2.503-33.813-7.528c-12.093-5.018-21.775-9.933-29.045-14.755
      c-7.277-4.811-16.75-11.524-28.434-20.129c-3.256-2.387-6.867-5.006-10.771-7.809L16.946,479.622
      c9.119,8.072,19.854,12.16,32.234,12.16H501.613z" />
                        <path d="M31.047,225.299C19.37,217.514,9.015,208.598,0,198.555V435.98l137.541-137.541
       C110.025,279.229,74.572,254.877,31.047,225.299z" />
                        <path d="M520.059,225.299c-41.865,28.336-77.447,52.73-106.75,73.195l137.486,137.492V198.555
       C541.98,208.396,531.736,217.306,520.059,225.299z" />
                        <path d="M501.613,59.013H49.181c-15.784,0-27.919,5.33-36.42,15.979C4.253,85.646,0.006,98.97,0.006,114.949
       c0,12.907,5.636,26.892,16.903,41.959c11.267,15.061,23.256,26.891,35.961,35.496c6.965,4.921,27.969,19.523,63.012,43.801
       c18.917,13.109,35.368,24.535,49.505,34.395c12.05,8.396,22.442,15.667,31.022,21.701c0.985,0.691,2.534,1.799,4.59,3.269
       c2.215,1.591,5.018,3.61,8.476,6.107c6.659,4.816,12.191,8.709,16.597,11.683c4.4,2.975,9.731,6.298,15.985,9.988
       c6.249,3.685,12.143,6.456,17.675,8.299c5.533,1.842,10.655,2.766,15.367,2.766h0.306h0.306c4.711,0,9.834-0.924,15.368-2.766
       c5.531-1.843,11.42-4.608,17.674-8.299c6.248-3.69,11.572-7.02,15.986-9.988c4.406-2.974,9.938-6.866,16.598-11.683
       c3.451-2.497,6.254-4.517,8.469-6.102c2.057-1.476,3.605-2.577,4.596-3.274c6.684-4.651,17.1-11.892,31.104-21.616
       c25.482-17.705,63.01-43.764,112.742-78.281c14.957-10.447,27.453-23.054,37.496-37.803c10.025-14.749,15.051-30.22,15.051-46.408
       c0-13.525-4.873-25.098-14.598-34.737C526.461,63.829,514.932,59.013,501.613,59.013z" />
                        <span id="space"><a href="#">achyut@gmail.com</a></span>
                </div>
            </div>
            <div class="col-md-7">
                <h4 id="skills">SKILLS</h4>
                <div class="skills">
                    <div>
                        <div id="ui">
                            <p>UI/UX</p>
                            <div id="progress-bar">
                                <div id="progress"></div>
                            </div>
                        </div>
                        <div id="ui">
                            <p>UI/UX</p>
                            <div id="progress-bar">
                                <div id="progress"></div>
                            </div>
                        </div>
                        <div id="ui">
                            <p>UI/UX</p>
                            <div id="progress-bar">
                                <div id="progress"></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="ui">
                            <p>UI/UX</p>
                            <div id="progress-bar">
                                <div id="progress"></div>
                            </div>
                        </div>
                        <div id="ui">
                            <p>UI/UX</p>
                            <div id="progress-bar">
                                <div id="progress"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>