  {% load static %}


  <!-- Bootstrap core JavaScript-->
    <script src="{% static 'assets/js/formset.js' %}"></script>
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'assets/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'assets/js/sb-admin-2.min.js' %}"></script>
  <!-- Page level plugins -->



</body>

</html>
