{% extends 'master/accountmaster.html' %}
{% block content %}
{% load static %}
<body class="bg-gradient-primary">

<div class="container-fluid">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create a Resume!</h1>
                        </div>

                        <h1 class="h4 text-gray-900 mb-4">Personal Info</h1>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    {{form.firstname}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{form.middlename}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{form.lastname}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-7">
                                    {{form.email}}
                                </div>
                                <div class="form-group col-md-5">
                                    {{form.phone}}

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    {{form.country}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{form.state}}
                                </div>
                                <div class="form-group col-md-4">
                                    {{form.city}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label>DOB</label>
                                    {{form.dob}}
                                </div>

                                <div class="form-groupcol-md-6 m-2">
                                    <label>Gender </label>
                                    {{form.gender}}
                                </div>
                            </div>
                            <hr>
                            <h1 class="h4 text-gray-900 mb-4">About You</h1>
                            <div class="form-row">
                                <div class="form-group col-md-7">
                                    {{personaldescform.Job_title}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    {{personaldescform.about}}
                                </div>
                            </div>
                            <hr>
                            <h1 class="h4 text-gray-900 mb-4">Education</h1>
                            {{ formset.management_form }}
                            {%for eduinfo in formset %}
                            <div class="education">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        {{eduinfo.program}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{eduinfo.institution}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{eduinfo.course}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label>Starting Date </label>
                                        {{eduinfo.edate1}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Ending Date </label>
                                        {{eduinfo.edate2}}
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                            id="{{ formset.prefix }}">
                                        Delete
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                            <button type="button" class="btn btn-sm btn-success add-form-row"
                                    id="{{ formset.prefix }}">
                                <i class="fas fa-plus"></i> Add Education
                            </button>
                            <hr>

                            <hr>
                            <h1 class="h4 text-gray-900 mb-4">Working Experience </h1>
                            {{ experienceform.management_form }}
                            {% for experience in experienceform%}
                            <div class="experience">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        {{experience.company}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{experience.title}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{experience.course}}
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        {{experience.startingDate}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{experience.endingDate}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Experience">Experience : </label>
                                    {{experience.experienceInfo}}
                                </div>
                                <div>
                                    <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                            id="{{ experienceform.prefix }}">
                                        Delete
                                    </button>
                                </div>
                            </div>
                            {% endfor %}

                            <button type="button" class="btn btn-sm btn-success add-form-row"
                                    id="{{ experienceform.prefix }}">
                                <i class="fas fa-plus"></i> Add Experience
                            </button>
                            <hr>
                            <h1 class="h4 text-gray-900 mb-4">Skills</h1>
                            {{ skillform.management_form }}
                            {% for skills in skillform %}
                            <div class="skill">
                                <div class="form-group">
                                    {{skills.skill}}
                                </div>
                                <div>
                                    <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                            id="{{ skillform.prefix }}">
                                        Delete
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                            <button type="button" class="btn btn-sm btn-success add-form-row"
                                    id="{{ skillform.prefix }}">
                                <i class="fas fa-plus"></i> Add Skills
                            </button>
                            <hr>

                            <h1 class="h4 text-gray-900 mb-4">Certificates:</h1>
                            {{ certificateform.management_form }}
                            {% for certicate in certificateform%}
                            <div class="certificate">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        {{certicate.certificate}}
                                    </div>
                                    <div class="form-group col-md-4">
                                        {{certicate.certificateDate}}
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                            id="{{ certificateform.prefix }}">
                                        Delete
                                    </button>
                                </div>
                            </div>
                            {% endfor %}
                            <button type="button" class="btn btn-sm btn-success add-form-row"
                                    id="{{ certificateform.prefix }}">
                                <i class="fas fa-plus"></i> Add Experience
                            </button>
                            <hr>
                            <h1 class="h4 text-gray-900 mb-4">Language</h1>

                            <div class="form-row">
                                {{ languageform.management_form }}
                                {% for language in languageform %}
                                <div class="language">
                                    <div class="form-group">
                                        {{language.language}}
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-danger btn-sm remove-form-row"
                                                id="{{ languageform.prefix }}">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="form-group col-md-4">
                                    <button type="button" class="btn btn-sm btn-success add-form-row"
                                            id="{{ languageform.prefix }}">
                                        <i class="fas fa-plus"></i> Add Experience
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <h1 class="h4 text-gray-900 mb-4">Others</h1>
                            {{ others.management_form }}

                            {% for other in others %}
                            <div class="form-row">
                                <div class="form-group col-md-7">
                                    {{other.title}}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    {{other.introduction}}
                                </div>
                            </div>
                            {% endfor %}

                            <div class="form-group col-md-4">
                                <button type="button" class="btn btn-sm btn-success add-form-row"
                                        id="{{ others.prefix }}">
                                    <i class="fas fa-plus"></i> Add Experience
                                </button>
                            </div>
                            <input type="submit" class="btn btn-success" name="submit">
                            <!--     <button type="submit" class="btn btn-success"><i class="fas fa-file-alt"></i> Create Resume </button>-->
                        </form>
                        <hr>
                    </div>
                </div>
                <div class="col-lg-5 d-none d-lg-block">
                    <div class="p-5">
                        <div class="text-center">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="{% static 'js/formset.js' %}"></script>
{%endblock%}