{% extends "master/accountmaster.html" %}
{% block content %}
    <div class="alert alert-info" style="height:60px;background-color:#001C4B;font-size: 18px;color:white;">
        An email has been sent with instructions to reset your password.
            <a class="small btn btn-primary" href="{%url 'register' %}" style="color:#001C4B;font-size: 18px;"
                >Create an Account!</a
            >
            <a class="small btn btn-primary" href="{%url 'login' %}" style="color:#001C4B;font-size: 18px;"
                >Login!</a
            >
    </div>
{% endblock content %}