{% extends "master/accountmaster.html" %}
{% block content %}
    <div class="alert alert-info" style="height:60px;background-color:#001C4B;font-size: 18px;color:white;">
        An email has been sent with instructions to reset your password. <br> <br> <br><br> <br> <br>
        <center><a href="{% url 'login' %}"><button style="height:50px;width:150px;background-color:#001C4B;color:white;font-weight:bold;">
                
            Go to Login</button></a></center>
    </div>
{% endblock content %}