{% extends "master/master.html" %} {% load crispy_forms_tags %} {% block content %}
<style>
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  .content-section {
    margin: 20px;
  }
</style>
<div class="content-section">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Update Your Info</legend>
    
      {{ u_form|crispy }} {{ p_form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Update</button>
    </div>
  </form> 



  {% comment %} <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle account-img"  src="{{ user.profile.image.url }}" ><span class="font-weight-bold">{{ user.username |upper }}</span><span class="text-black-50">{{ user.email }}</span><span> </span>
           <form method="POST" enctype="multipart/form-data">
           {% csrf_token %}
            {{ p_form|crispy }}
            
            </div>
            
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label>{{u_form.first_name}}</div>
                    <div class="col-md-6"><label class="labels">Surname</label>{{u_form.last_name}}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Email ID</label>{{u_form.email}}</div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
        </form>
    </div>
</div> {% endcomment %}
</div>
</div>
</div>
{% endblock content %}
